*.iml
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/inspectionProfiles
/.idea/codeStyles
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.DS_Store
vcs.xml
build_file_checksums.ser
codeStyleConfig.xml
